body {
    font-family: Arial, sans-serif;
    background-color:  #e5e3e3;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-card {
    text-align: center;
    background-color:   #fcfefd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.name {
    font-size: 24px;
    color: black;
    margin-bottom: 5px;
}

.bio {
    font-size: 14px;
    color:  black;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-link img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

.social-link img:hover {
    transform: scale(1.1);
}
